// Large screens breakpoints
$bp-3xl: 160em; // 2560px
$bp-2xl: 120em; // 1920px
$bp-xl: 100em; // 1600px

// Desktop breakpoints
$bp-desktop-lg: 90em; // 1440px
$bp-desktop-md: 85.375em; // 1366px
$bp-desktop: 80em; // 1280px
$bp-desktop-sm: 64em; // 1024px

// Tablet breakpoints
$bp-tablet: 56em; // 896px
$bp-tablet-sm: 48em; // 768px

// Mobile breakpoints
$bp-mobile: 36em; // 576px
$bp-mobile-sm: 30em; // 480px
$bp-mobile-xs: 20em; // 320px

// COLORES
$color00: #fff;
$color99: #000;

$color11: #5273ff;
$color12: #3b5af7;
$color13: #2441ef;
$color14: #0d28e7;
$color15: #002cf2;

$color21: #895cf7;
$color22: #7d43ed;
$color23: #6b15ce;
$color24: #500bb2;
$color25: #40059e;

$color31: #acead3;
$color32: #8fecd1;
$color33: #71eecf;
$color34: #53f0cd;
$color35: #33e9d0;
$color36: #5ed3afb2;
$color37: #43BF96;

$color41: #f2db7c;
$color42: #efd450;
$color43: #f4d733;
$color44: #efcc20;
$color45: #e5b900;

$color51: #545454;
$color52: #464646;
$color53: #383838;
$color54: #2a2a2a;
$color55: #1c1c1c;

$degradado1: #002CF2 0%, #01FFE6 29.69%, #002CF2 66.49%, #01FFE6 100%;
$bgButton : #dce2ff;
$bgMain : #eef1ff;

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: block;
    position: relative;
}